In [ ]:
%magic

In [30]:
import pymysql
import csv

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.8/site-packages (1.0.2)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: pip install --upgrade pip

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.8/site-packages (0.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (3.4.1)
Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (8.0.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (62.4.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.26)
Requirement already satisfied: appnope in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: black in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (21.12b0)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.4)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.8/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: tomli<2.0.0,>=0.2.6 in /opt/anaconda3/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (1.2.3)
Requirement already satisfied: mypy-extensions>=0.4.3 in /opt/anaconda3/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (4.0.1)
Requirement already satisfied: pathspec<1,>=0.9.0 in /opt/anaconda3/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (0.9.0)
Requirement already satisfied: platformdirs>=2 in /opt/anaconda3/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (2.4.1)
Requirement already satisfied: click>=7.1.2 in /opt/anaconda3/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (8.1.3)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: pip install --upgrade pip

In [4]:
%load_ext sql

In [17]:
db_user = 'root'
db_password = 'user12345'

In [18]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:user12345@localhost'

In [20]:
%sql $connection_string

'Connected: root@None'

In [26]:
%sql create database if not exists Contacts_db;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [27]:
%sql use Contacts_db

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [29]:
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True
)

In [43]:
def read_data(file):
    data = []
    with open('./'+file, encoding='utf-8-sig') as in_text_file:
        csv_file = csv.DictReader(in_text_file)
        for row in csv_file:
            data.append(row)
    return data

In [44]:
users_data = read_data('Users.csv')
address_data = read_data('Addresses.csv')
phone_data = read_data('Phones.csv')
email_data = read_data('Emails.csv')

In [46]:
phone_data[:3]

[{'user_id': '294711c8-9deb-4c59-b884-923604eec973',
  'phone': '+1 231-685-5980'},
 {'user_id': 'cc447dd3-5511-4511-9d38-f311e91012fc',
  'phone': '+1 505-644-0772'},
 {'user_id': 'd20f89ac-1076-44b6-8f00-89fec90fb0e3',
  'phone': '+1 505-644-7057'}]

In [47]:
%%sql

create table users 
(
    user_id varchar(256) not null,
    last_name varchar(128) not null,
    first_name varchar(128) not null
);

create table addresses
(
    user_id varchar(256) not null,
    address varchar(256) not null
);


create table phones
(
    user_id varchar(256) not null,
    phone varchar(128) not null
);


create table emails
(
    user_id varchar(256) not null,
    email varchar(128) not null
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [50]:
%sql describe users

 * mysql+pymysql://root:***@localhost
3 rows affected.

[('user_id', 'varchar(256)', 'NO', '', None, ''),
 ('last_name', 'varchar(128)', 'NO', '', None, ''),
 ('first_name', 'varchar(128)', 'NO', '', None, '')]

In [56]:
cur = conn.cursor()

In [57]:
def insert_data(data, cate):
    if cate == 'user':
        insert_sql = """
        insert into Contacts_db.users(user_id, last_name, first_name)
        values(%s,%s,%s)
        """
    elif cate == 'address':
        insert_sql = """
        insert into Contacts_db.addresses(user_id, address)
        values(%s,%s)
        """
    elif cate == 'phone':
        insert_sql = """
        insert into Contacts_db.phones(user_id, phone)
        values(%s,%s)
        """
    elif cate == 'email':
        insert_sql = """
        insert into Contacts_db.emails(user_id, email)
        values(%s,%s)
        """
    for row in data:
        res = cur.execute(insert_sql, list(row.values()))

In [58]:
insert_data(users_data, 'user')
insert_data(address_data, 'address')
insert_data(phone_data, 'phone')
insert_data(email_data, 'email')

In [60]:
%sql select * from Contacts_db.users;

 * mysql+pymysql://root:***@localhost
30 rows affected.

[('294711c8-9deb-4c59-b884-923604eec973', 'Dunn', 'Elisabeth'),
 ('cc447dd3-5511-4511-9d38-f311e91012fc', 'Hill', 'Sunil'),
 ('d20f89ac-1076-44b6-8f00-89fec90fb0e3', 'Holmes', 'Corbin'),
 ('0fa80447-140d-44d9-b306-44608834f409', 'Cantu', 'Cherish'),
 ('897567d5-95da-43ae-b692-641841701284', 'Hutchinson', 'Alejandro'),
 ('ec4cff02-d4a1-403d-8de6-a4b4980d5b15', 'Mccarthy', 'Clinton'),
 ('6e320c5c-a52a-4f8a-a9f0-494d511fbb2f', 'Crawford', 'Mikayla'),
 ('b99fe071-95ae-4218-a04a-d44fc4c23177', 'Burke', 'Lauren'),
 ('80d86e9e-98d9-476b-a6e1-3064d29ec4af', 'Edwards', 'Giorgia'),
 ('bdd81d22-03c7-4549-b943-506dab0c8f5a', 'Mcbride', 'Natalya'),
 ('576113b5-465b-49ff-a332-3846672ddac8', 'Snyder', 'Ronnie'),
 ('9ad82f64-7ce9-4985-a828-1ddfb075475d', 'Perez', 'Terence'),
 ('d187764b-f991-40a0-80ac-759b5898bf32', 'Abbott', 'Lilah'),
 ('acda2bd3-e92f-4af5-b6fe-dfb94c0de1e8', 'Kelley', 'Rebeca'),
 ('e81ee10a-f685-4d56-95e9-5d2b2ac61ca7', 'Walton', 'Johnny'),
 ('43f68597-72f9-4ca8-96d1-a6e0057922f7', 'Todd', 'Jordanna'),
 ('61226997-9551-4f2c-b1bb-aec1344a7bd1', 'Rivera', 'Maksim'),
 ('10826141-4019-46b3-b10f-ddbecdecdb3f', 'Johnston', 'Kobi'),
 ('c8fe8a90-4ac6-4181-b01b-25d4a665254d', 'Hicks', 'Abel'),
 ('594aa509-ec03-42c3-80ce-0d01c1f83e6b', 'Edge', 'Fiona'),
 ('1bd635be-5989-48f6-8dae-5e9d34e410b7', 'Mora', 'Heather'),
 ('e0a7ada4-d310-4223-a821-6790179cede9', 'Massey', 'Yazmin'),
 ('dddad555-fe2b-414f-922e-5361b06bc984', 'Rodriquez', 'Karl'),
 ('74be9799-e14d-4a72-9e71-8c483143b15e', 'Manning', 'Rivka'),
 ('219f926e-778a-4c6e-8320-a900fab47ce6', 'Petersen', 'Kiara'),
 ('bf65511c-0071-4956-80b5-7c8ac7f79aa7', 'Woolley', 'Sidney'),
 ('2e30dd23-19a0-4882-a542-42af7f95f822', 'Barclay', 'Dillan'),
 ('cd51c68a-f0c9-4d85-95dc-b5e76f0e5c8b', 'Greenwood', 'Jose'),
 ('6049efa2-cd02-4ee4-aa39-96b63cc69c54', 'Maxwell', 'Elisa'),
 ('05cf20a3-a7db-47d8-b118-54333b7578f0', 'Walls', 'Murphy')]